{
  "extends": "stylelint-config-standard",
  "defaultSeverity": "warning",
  "rules": {
    "indentation": 4,
    "selector-pseudo-element-colon-notation": "single",
    "declaration-no-important": true
  }
}