language: node_js
node_js:
  - "8"
cache:
  directories:
  - node_modules
script:
  - npm test
  - npm run build
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - npm install