html {
    font-size: 10px;
}

body {
    font-family: var(--main-font-family);
    font-size: 1.6rem;
}

.content {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center {
    text-align: center;
}
