:root {
    /* Colors */
    --main-color: #38003c;
    --accent-color: #e90052;

    /* fonts */
    --main-font-family: 'Roboto', sans-serif;

    /* breakpoints */
    @custom-media --sm-breakpoint (max-width: 600px);
    @custom-media --md-breakpoint (max-width: 960px);
}
