body .tournament_card__img {
    height: 300px;
    background-size: contain;
}

.tournament_card__title {
    font-size: 1.5rem;
}

.tournament_card__subtitle {
    font-size: 0.875rem;
    color: #707070;
}
