@import '../../css/_variables.css';

.row .row__cell:not(.row__teamName) {
    text-align: center;
}

.row .row__img {
    width: 25px;
    height: 25px;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.row__img img {
    object-fit: contain;
}

.row__shortname {
    display: none;
}

.row__info {
    display: flex;
    align-items: center;
}

@media (--md-breakpoint) {
    .row .row__cell {
        padding-left: 6px;
        padding-right: 6px;
    }

    .row .row__matches,
    .row .row__goals-for,
    .row .row__goals-against {
        display: none;
    }
}

@media (--sm-breakpoint) {
    .row__name,
    .row .row__w,
    .row .row__d,
    .row .row__l {
        display: none;
    }

    .row__shortname {
        display: inline;
    }

    .row .row__cell:last-child {
        padding-right: 6px;
    }
}
