@import '../../css/_variables.css';

.table-head__teamName {
    width: 100%;
}

.table-head .table-head__cell:not(.table-head__teamName) {
    text-align: center;
    min-width: 90px;
}

.table-head .table-head__position {
    width: 80px;
}

.table-head__cell svg {
    position: absolute;
    top: 50%;
    right: -20px;
    margin: -8px 0 0;
}

@media (--md-breakpoint) {
    .table-head .table-head__cell {
        padding-left: 6px;
        padding-right: 6px;
    }

    .table-head .table-head__matches,
    .table-head .table-head__goals-for,
    .table-head .table-head__goals-against {
        display: none;
    }

    .table-head .table-head__cell:not(.table-head__teamName) {
        min-width: 80px;
    }
}

@media (--sm-breakpoint) {
    .table-head .table-head__w,
    .table-head .table-head__d,
    .table-head .table-head__l {
        display: none;
    }

    .table-head .table-head__cell:last-child {
        padding-right: 6px;
    }

    .table-head .table-head__cell:not(.table-head__teamName) {
        min-width: 70px;
    }
}
