@import "../../../../css/_variables.css";

.score-input {
    font-size: 2rem;
    border: none;
    padding: 0.5rem;
    border-bottom: 2px solid var(--accent-color);
    height: 2rem;
    width: 3rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin: 0 1rem;
}
